<section id="hs-home-slider-section">
    <div id="hs-bx-slider">
        <div class="hs-slide">
            <div class="hs-slide-overlay"></div>

            <img alt="Slickteam [slikti:m] n. f. Equipe agile et astucieuse capable de réussir vos projets digitaux" src="{{ .Site.BaseURL }}images/carousel/slider-3-opti.png">
            <div class="hs-slide-caption">
                <div class="hs-slide-cap-title animated fadeInLeft">
                    <span>Slickteam [slikti:m] n. f. Equipe agile et astucieuse capable de réussir vos projets digitaux</span>
                </div>

                <div class="hs-slide-cap-desc animated fadeInRight"></div>
            </div>
        </div>
        <div class="hs-slide">
            <div class="hs-slide-overlay"></div>

            <img alt="Incubateur de Dev&#8217; Talent" src="{{ .Site.BaseURL }}images/carousel/slider-1.png">				
            <div class="hs-slide-caption">
                <div class="hs-slide-cap-title animated fadeInLeft">
                    <span>Incubateur de Dev&#8217; Talent</span>
                </div>

                <div class="hs-slide-cap-desc animated fadeInRight"></div>
            </div>
        </div>
        <div class="hs-slide">
            <div class="hs-slide-overlay"></div>

            <img alt="Slickteam &#8211; Come As You Geek" src="{{ .Site.BaseURL }}images/carousel/slider-2-opti.png">				
            <div class="hs-slide-caption">
                <div class="hs-slide-cap-title animated fadeInLeft">
                    <span>Slickteam &#8211; Come As You Geek</span>
                </div>

                <div class="hs-slide-cap-desc animated fadeInRight"></div>
            </div>
        </div>
    </div>
</section>