<section id="hs-contact-section" data-stellar-background-ratio="0.2">
    <div class="hs-contact-section hs-section">
        <div class="hs-contact-overlay"></div>
        <div class="hs-container">
            <h2 class="hs-section-title wow fadeInUp" data-wow-duration="0.5s">Contactez nous</h2>

            <div class="hs-clearfix">
                <div class="hs-contact-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.9423597089094!2d-1.6344813887662721!3d48.13063495044676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ede950354b3d7%3A0xf3ec564165caabc0!2s1+Square+Ren%C3%A9+Cassin%2C+35700+Rennes!5e0!3m2!1sfr!2sfr!4v1485965281056" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>                            
                
                <div class="hs-contact-address wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
                    <ul>
                        {{ with .Site.Params.contact.address }}<li><i class="fa fa-map-marker"></i>{{ . }}</li>{{ end }}
                        {{ with .Site.Params.contact.phone }}<li><i class="fa fa-phone"></i>{{ . }}</li>{{ end }}
                        {{ with .Site.Params.contact.email }}<li><i class="fa fa-envelope"></i><a href="mailto:{{ . }}">{{ . }}</a></li>{{ end }}
                    </ul>
                    <div class="hs-social">
                        {{ with .Site.Params.social.facebook }}<a class="sq-facebook" href="{{ . }}" target="_blank"><i class="fa fa-facebook"></i></a>{{ end }}
                        {{ with .Site.Params.social.twitter }}<a class="sq-twitter" href="{{ . }}" target="_blank"><i class="fa fa-twitter"></i></a>{{ end }}
                        {{ with .Site.Params.social.linkedin }}<a class="sq-linkedin" href="{{ . }}" target="_blank"><i class="fa fa-linkedin"></i></a>{{ end }}
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>