<section id="hs-counter-section" data-stellar-background-ratio="0.4">
    <div class="hs-counter-section hs-section">
        <div class="hs-counter-overlay"></div>
        <div class="hs-container">
            <h2 class="hs-section-title wow fadeInUp" data-wow-duration="0.5s">Slickteam en chiffres</h2>
            <div class="hs-section-tagline wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">des chiffres qui nous ressemblent :</div>
            <div class="hs-counter-wrap hs-clearfix">
                <div class="hs-counter hs-counter1 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0s">
                    <div class="hs-counter-count odometer odometer1" data-count="{{ .Site.Params.facts.coffees }}">99</div>

                    <div class="hs-counter-icon">
                        <i class="fa fa-coffee"></i>
                    </div>

                    <div class="hs-counter-title">Cafés</div>
                </div>
                <div class="hs-counter hs-counter2 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="hs-counter-count odometer odometer2" data-count="{{ .Site.Params.facts.post_it }}">99</div>

                    <div class="hs-counter-icon">
                        <i class="fa fa fa-commenting"></i>
                    </div>

                    <div class="hs-counter-title">Post-it</div>
                </div>
                <div class="hs-counter hs-counter3 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">
                    <div class="hs-counter-count odometer odometer3" data-count="{{ .Site.Params.facts.workshops }}">99</div>

                    <div class="hs-counter-icon">
                        <i class="fa fa fa-users"></i>
                    </div>

                    <div class="hs-counter-title">Workshops</div>
                </div>
                <div class="hs-counter hs-counter4 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1.5s">
                    <div class="hs-counter-count odometer odometer4" data-count="{{ .Site.Params.facts.music }}">99</div>

                    <div class="hs-counter-icon">
                        <i class="fa fa fa-music"></i>
                    </div>

                    <div class="hs-counter-title">heures de musique en travaillant</div>
                </div>
            </div>
        </div>
    </div>
</section>