<header>
    <h1><img src="images/{{ .Site.Params.logo }}"> Slickteam</h1>
    <p>Come as you geek !</p>

    <ul>
        {{ with .Site.Params.social.facebook }}<li><a href="{{ . }}">Facebook</a></li>{{ end }}
        {{ with .Site.Params.social.twitter }}<li><a href="{{ . }}">Twitter</a></li>{{ end }}
        {{ with .Site.Params.social.linkedin }}<li><a href="{{ . }}">LinkedIn</a></li>{{ end }}
        {{ with .Site.Params.social.medium }}<li><a href="{{ . }}">Medium</a></li>{{ end }}
        {{ with .Site.Params.social.github }}<li><a href="{{ . }}">GitHub</a></li>{{ end }}
        {{ with .Site.Params.social.instagram }}<li><a href="{{ . }}">Instagram</a></li>{{ end }}
        {{ with .Site.Params.social.youtube }}<li><a href="{{ . }}">Youtube</a></li>{{ end }}
    </ul>
</header>