<section id="hs-featured-post-section" class="hs-section">
    <div class="hs-container">
        <h2 class="hs-section-title wow fadeInUp" data-wow-duration="0.5s">Nos Solutions</h2>
            
        <div class="hs-section-tagline wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Slickteam accompagne le développement de ses clients dans le domaine des systèmes d&#039;information.
        Notre savoir-faire est la création des outils digitaux permettant de rester compétitif.
        </div>

        <div class="hs-featured-post-wrap hs-clearfix">
            <div class="hs-featured-post hs-featured-post1 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
                <div class="hs-featured-icon"><i class="fa fa fa-group"></i></div>
                <h3>Expertise</h3>
                <div class="hs-featured-excerpt">
                    <p><strong>Notre expertise au service de nos clients sur trois domaines : </strong><br />
                    Développement &#8211; Front &amp; Back<br />
                    Applications mobiles<br />
                    IOT</p>
                </div>
            </div>
            <div class="hs-featured-post hs-featured-post2 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <div class="hs-featured-icon"><i class="fa fa fa-briefcase"></i></div>
                <h3>Formation</h3>
                <div class="hs-featured-excerpt">
                    <p><strong>Accompagner et former pour la réussite des projets digitaux</strong><br />
                    Formations techniques (JS, jQuery, Angular 1 &amp; 2, React, Php, Java, Node)<br />
                    Formations théoriques (be Agile, TDD)</p>
                </div>
            </div>
            <div class="hs-featured-post hs-featured-post3 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="1s">
                <div class="hs-featured-icon"><i class="fa fa fa-flask"></i></div>
                <h3>Lab</h3>
                <div class="hs-featured-excerpt">
                    <p><strong>C&#8217;est la R&#038;D réalisée par la Slickteam. Nous testons, développons des projets innovants.</strong><br />
                    Chaque membre de la team dispose du temps pour contribuer à la R&#038;D.</p>
                </div>
            </div>
        </div>
    </div>
</section>